@import "reset";
@import "general";
@import "home";
@import "about";
@import "destination";
@import "contact";
@import "manali";




/* Responsive Design */
@media screen and (min-width: 590px) and (max-width: 976px) {
    html {
      font-size: 12px;
    }
    .width {
      width: 100%;
      height: auto;
    }
    .wrap {
      flex-wrap: wrap;
    }
    .column {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .flex-10,
    .flex-20,
    .flex-30,
    .flex-40,
    .flex-60,
    .col-1-3,
    .flex-30-contact,
    .flex-60-contact,
    .flex-70-contact {
      flex: 1 1 40%;
      margin: 1rem 1.2rem;
    }
    .nav {
      display: none;
    }
    .nav li {
      margin: 2rem 0;
    }
    #toggle:checked ~ .nav {
      display: inline-block;
    }
    .header li a:hover {
      color: $primary;
      font-weight: 900;
      font-size: 1.2rem;
    }
    .bars {
      display: inline-block;
      font-size: 2rem;
      color: $primary;
      position: relative;
      z-index: 80;
    }
    .nav {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: $Dark;
      padding-top: 5rem;
      font-size: 2rem;
      z-index: 100;
    }
  }
  @media screen and (max-width: 590px) {
    html {
      font-size: 10px;
    }
    .width {
      width: 100%;
      height: auto;
    }
    .gif{
      display: none;
    }
    .wrap {
      flex-wrap: wrap;
    }
    .column {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .flex-10,
    .flex-20,
    .flex-30,
    .flex-40,
    .flex-60,
    .col-1-3,
    .flex-30-contact,
    .flex-60-contact,
    .flex-70-contact {
      flex: 1 1 100%;
      margin: 1rem 1.2rem;
    }
    .nav {
      display: none;
    }
    .nav li {
      margin: 2rem 0;
    }
  
    #toggle:checked ~ .nav {
      display: inline-block;
    }
    .header li a:hover {
      color:$primary;
      font-weight: 900;
      font-size: 1.2rem;
    }
    .bars {
      display: inline-block;
      font-size: 2rem;
      color: $primary;
      position: relative;
      z-index: 80;
    }
    .nav {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: $Dark;
      padding-top: 5rem;
      font-size: 2rem;
      z-index: 100;
    }
  }